*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}

.moi {
    background-color: #ffd6ff;
    color: #141e1a;
    float: left;
}

h1 {
    text-align: center;
}

#student {
    margin-bottom: 25px;
}

img {
    max-width:100%;
    height:auto;
}
.Two-Col {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}

.cv {
    background-color: #fff;
    color: #000;
    margin: 1rem 25%;
}

.cv-two-col {
    display: grid;
    gap: 20px;
    grid-template-columns: 33.33% 66.67%;
}

.cv-two-col h3 {
    border-right-style: solid;
    border-right-width: 1px;
}

.cv-two-col ul {
    margin-bottom: 25px;
}

.cv-two-col p {
    margin-bottom: 25px;
}

.varfor h3 {
    text-align: center;
    padding: 50px 0px 25px 0px;
}

.Tre-Col {
    display: grid;
    gap: 20px;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

@media screen and (max-width: 800px) { 
    .cv {
    background-color: #fff;
    color: #000;
    margin: 0;
}
}